* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
}

/* Images */
.big-picture {
    width: 80%;
    height: 100%;
    background-color: coral;
}

.big-picture img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-picture img.active {
    display: block;
}

.slider {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: black;
}

.small-picture {
    width: 100%;
    height: 20%;
    opacity: 0.5;
}

.small-picture img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.small-picture.brightness {
    opacity: 1;
}
/* End Images */

/* Arrows */
.previous,
.next {
    position: absolute;
    left: 89%;
    font-size: 1.5em;
    color: white;
}

.next {
    bottom: 0;
}
/* End Arrows */