* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #6a00ff, #3f41ff, #0059fb, #006af1, #0077e2, #0087e5, #0096e5, #00a4e2, #00bcef, #00d3f5, #00eaf5, #00ffef);}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    border: solid 1px black;
}

.big-picture {
    width: 80%;
    height: 100%;
    border-right: solid 1px black;
}

.slider {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: black;
}
/* Images */
.big-picture img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-picture img.active {
    display: block;
}

.small-picture {
    width: 100%;
    height: 20%;
    opacity: 0.5;
}

.small-picture img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.small-picture.brightness {
    opacity: 1;
    border: 2px solid white;
}
/* End Images */

/* Arrows */
.previous,
.next {
    position: absolute;
    left: 89%;
    font-size: 1.5em;
    color: white;
}

.next {
    bottom: 0;
}
/* End Arrows */